# Database
DATABASE_URL="postgres://farmasi:farmasi@localhost:5449/farmasi?schema=public"

# NextAuth.js
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET="31X+aqYwZFmcLzxllSs5mamZpROscAeqvLGxczQdkKw=" # Added by `npx auth`. Read more: https://cli.authjs.dev

# Brevo Email Service
BREVO_API_KEY="your-brevo-api-key"

# Upload directory
UPLOAD_DIR="./public/uploads"

# DigitalOcean Spaces
DO_SPACES_ENDPOINT="https://faztdev.nyc3.digitaloceanspaces.com"

DO_SPACES_BUCKET="garantias"
DO_SPACES_ACCESS_KEY="jvEA1XoqX8abD9t9J/c4YvIQ3fX3eAZwOmiKt5ojl1o"
DO_SPACES_SECRET_KEY="dop_v1_bd3381ee71a776e209297e84f3dd80bcdb8cb453799e7378bd2b55bdbd009fd8"
DO_SPACES_REGION="nyc3"


